 <!--サイドバー部分 aplication.htmlでrender使って呼び出し-->
 <h2>UserInfo</h2>
 <% if user_signed_in? %>
   <p>name <%= current_user.profile_image %></p>
   <p>introduction <%= current_user.introduction %></p>
   <p><%#= link_to "ユーザー編集", edit_user_path(@user) %></p>

 <% end %>

 <!--通常はログインユーザー情報、usershowの時のみユーザー情報を表示-->
          <div>
            <%= form_with model:@book, local:true do |f| %>
              <div>
                <p>Title</p>
                <%= f.text_field :title %>
              </div>
              <div>
                <p>Opinion</p>
                <%= f.text_area :body %>
              </div>
              <div>
                <%= f.submit 'Create Book' %>
              </div>
            <% end %>
          </div>
