<h1>Editing Book</h1>
<div>
  <%= form_with model:@post_book, local: true do |f| %>
    <div>
      <p>Title</p>
      <%= f.text_field :title %>
    </div>
    <div>
      <p>Body</p>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.submit 'Update Book' %>
    </div>
    <div>
      <p>
        <%= link_to "Show", post_book_path(@post_book) %> |<!--@モデル名で現在参照しているデータにとぶ-->
        <%= link_to "Back", post_books_path %>  <!--rake routes でurlがわかる-->
      </p>
    </div>
  <% end %>
</div>