  <!--投稿した本の詳細ページ-->
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="col-lg-4">
          <%= render'books/sidebar', book: @user %>
        </div>
        <div class="col-lg-8">
          <table class="table">
            <h2>Book detail</h2>
              <tr>
                <td><%= link_to attachment_image_tag(@book.user, :profile_image, size: "40x40", format: 'jpeg',fallback: "no_image.jpg"),user_path(@book.user.id) %></td><!-- !!user.showへリンクしたい！！bookmodelに紐付けたuserのprofile_imageを表示します-->
                <td><%= link_to @book.title, book_path(@book.id) %>  <!--戻すところを考える！rake routes でurlがわかる--></td>
                <td><%= @book.body %></td>
                <% if @book.user == current_user %>
                  <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm" %></td><!--@モデル名で現在参照しているデータにとぶ-->
                  <td><%= link_to "Destroy", book_path(@book.id), class: "btn btn-danger btn-sm", method: :delete, "data-confirm" => "Are you sure?" %></td>
                <% end %>
              </tr>
          </table>
        </div>
    </div>
  </div>
