  <!--自分の投稿したほんの詳細ページ-->

  <h1>Books</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2>マイページと投稿領域作りたい</h2>
          <div>
            <%= form_with model:@post_book, local:true do |f| %>
              <div>
                <p>Title</p>
                <%= f.text_field :title %>
              </div>
              <div>
                <p>Body</p>
                <%= f.text_area :body %>
              </div>
              <div>
                <%= f.submit 'Create Book' %>
              </div>
            <% end %>
          </div>
      </div>
<p><strong>Title: </strong><%= @post_book.title %></p>
<p><strong>Body: </strong><%= @post_book.body %></p>
<p>
  <%= link_to "Edit", edit_post_book_path(@post_book) %>|<!--@モデル名で現在参照しているデータにとぶ-->
  <%= link_to "Back", post_books_path %>  <!--rake routes でurlがわかる-->
</p>
